In [3]:
from twython import Twython
import pandas as pd

#Log in Twitter API
TWITTER_APP_KEY = "bgAsjeaOjDhijVVNj0CKvmXd1"
TWITTER_APP_KEY_SECRET = "i4ogIK1Pw0sHtPMve71JgzONGGz5osFNoKELQ31QmXdJZK6CJF"
TWITTER_ACCESS_TOKEN = "946009581813039106-1p9P45cWrcjhgugctlTA48VzkxkoKxT"
TWITTER_ACCESS_TOKEN_SECRET = "CXF8ijxLrF4T9KHXsNR8XhJx77uKARW9KGS0PtrOeYa4j"

t = Twython(app_key=TWITTER_APP_KEY, 
            app_secret=TWITTER_APP_KEY_SECRET, 
            oauth_token=TWITTER_ACCESS_TOKEN, 
            oauth_token_secret=TWITTER_ACCESS_TOKEN_SECRET)

#Query
term = 'Liverpool'
tweet_metadatas = t.search(q=term,count=20,result_type='recent',lang='id')

#Scrapping
data_list = []
for tweet in tweet_metadatas['statuses']:
    meta = dict()
    meta['tweet'] = tweet['text']
    meta['timestamp'] = tweet['created_at']
    meta['username'] = tweet['user']['screen_name']
    
    data_list.append(meta)

In [8]:
# Save Data
data = pd.DataFrame(data_list)
writer = pd.ExcelWriter('result.xlsx')
data.to_excel(writer,'Sheet1',index=False)
writer.save()

data.head()

,timestamp,tweet,username
0,Sat Oct 27 11:15:02 +0000 2018,Cardiff Bertekad Kalahkan Liverpool Seperti 59...,BolaBanget
1,Sat Oct 27 11:14:46 +0000 2018,"Saing2 Liverpool sign Van Dijk. \n\n""Signing ...",jejangs23
2,Sat Oct 27 11:14:09 +0000 2018,@anasafwan212 @twt_liverpool Nas tuka nombor l...,amirqiud
3,Sat Oct 27 11:13:22 +0000 2018,MENURUT KUYT SALAH SANGAT BAHAGIA BERADA DI LI...,AreaBola88
4,Sat Oct 27 11:12:49 +0000 2018,Cblah Liverpool lawan plak malam ni ya tuhan a...,hafiz_kun77